CMakeLists.txt.user*
*.kdev4
*.swp
/build*/
.cmake/

# LSP & IDE
/.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*
/generators
/cmake-install
*.cmake
/autotests
/tests
/bin
/lib
/lib64
/share
/include
/CMakeFiles
/install
/okularpart_autogen
/locale
/po
/shell
/okularcore_autogen
/doc
/core
/icons
/okular
*.marks



